.Rhistory
.fuse*
*.pyl
.ipynb_checkpoints
*.pyc
*.nb.html
*.egg-info
.spyproject/
*.pkl
!example_data_post.pkl
*.pdf
*.png
*.Rdata
.eggs
internal_settings.json
Self_Regulation_*Settings.txt
dimensional_structure/Output/*/*ID*
Data/*/Individual_Measures/writing_task.csv.gz
# directories
.spyproject/
batch_files/*csv
batch_files/*model
batch_files/*.db
batch_files/.out
batch_files/.err
batch_files/output
batch_files/hddm*
batch_files/*/*csv
batch_files/*/*model
batch_files/*/*.db
batch_files/*/.out
batch_files/*/.err
batch_files/*/output
batch_files/*/hddm*
singularity_images/*img
temp
build
dist*
glove.6B.50d.txt